# Test 1

In [1]:
# # 1 :- Print the given strings as per stated format.
# # Given strings:

print("Data","Science","Mentorship","Program","By","CampusX",sep="-")

Data-Science-Mentorship-Program-By-CampusX

In [2]:
# Q2:- Write a program that will convert celsius value to fahrenheit.

celsius=int(input("Enter celsius value:-"))
faren=celsius*9/5+32
print(faren)

Enter celsius value:-87
188.6

In [3]:
# # Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.
# a=5
# b=4
# a,b=b,a
# print(a)
# print(b)
a=6
b=5
temp=a
a=b
b=temp
print(a)
print(b)

5
6

In [4]:
# #Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.
a1x=int(input("Enter the number:-"))
a1y=int(input("Enter the number:-"))
a2x=int(input("Enter the number:-"))
a2y=int(input("Enter the number:-"))
distance=((a1x-a2x)**2+(a1y-a2y)**2)**0.5
print(round(distance,2))

Enter the number:-45
Enter the number:-54
Enter the number:-34
Enter the number:-23
32.89

In [5]:
# # Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.
p=int(input("Enter the amount:-"))
t=int(input("Enter the time:-"))
r=int(input("Enter the rate:-"))
SI=p*t*r/100
print("simple interest:-",SI)

Enter the amount:-100
Enter the time:-12
Enter the rate:-23
simple interest:- 276.0

In [6]:
# # Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.
def calculate_animals(total_heads, total_legs):
    # Initialize variables for number of dogs and chickens
    num_dogs = 0
    num_chickens = 0

    # Calculate number of dogs
    for num_dogs in range(total_heads + 1):
        num_chickens = total_heads - num_dogs
        if (4 * num_dogs + 2 * num_chickens) == total_legs:
            return num_dogs, num_chickens

    # If no solution found
    return None, None

# Input total heads and total legs from the user
total_heads = int(input("Enter the total number of heads: "))
total_legs = int(input("Enter the total number of legs: "))

# Calculate the number of dogs and chickens
num_dogs, num_chickens = calculate_animals(total_heads, total_legs)

# Output the results
if num_dogs is not None and num_chickens is not None:
    print("Number of dogs:", num_dogs)
    print("Number of chickens:", num_chickens)
else:
    print("No valid solution found.")

Enter the total number of heads: 20
Enter the total number of legs: 120
No valid solution found.

In [7]:
# # Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.
n=int(input("Enter number:-"))
squre=n*(n+1)*(2*n+1)/6
print(squre)

# #for loop ka use kar ke
# n=int(input("enter number:-"))
# result=0
# for i in range(1,n+1):
    
#     result +=i**2
# print(result)

Enter number:-345
13747445.0

In [8]:
# Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.
a=3
d=2
n=5
an=a+(n-1)*d
print(an)

first_value=int(input("Enter first number:-"))
second_value=int(input("Enter second number:-"))

n=int(input("Enter the number of terms:-"))
d=second_value-first_value
an=a+(n-1)*d
print(an)

11
Enter first number:-22
Enter second number:-33
Enter the number of terms:-23
245

In [9]:
first_value=int(input("Enter number:-"))
second_value=int(input("Enter number:-"))

n=int(input("Enter the number of terms:-"))
d=second_value-first_value
an=a+(n-1)*d
print(an)

Enter number:-22
Enter number:-32
Enter the number of terms:-3
23

In [10]:
# Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.
n1=int(input("Enter number1:-"))
d1=int(input("Enter den1:-"))
n2=int(input("Enter number2:-"))
d2=int(input("Enter den2:-"))
s=(n1*d2+n2*d1)/(d1*d2)
print(s)

rn=n1*d2+n2*d1
rd=d1*d2
print('{}/{}'.format(rn,rd))

Enter number1:-123
Enter den1:-21
Enter number2:-23
Enter den2:-123
6.044134727061556
15612/2583

In [11]:
# Q 10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.
import math
tank_h=int(input("Enter the tank height"))
tank_b=int(input("Enter the tank width"))
tank_w=int(input("Enter the tank breadth"))

glass_h=int(input("Enter the glass height"))
glass_r=int(input("Enter the glass radius"))

vol_tank=tank_h*tank_b*tank_w
vol_glass=3.14*glass_r**2*glass_h
num_glass=vol_tank/vol_glass
print("num_glass",math.floor(num_glass))

Enter the tank height122
Enter the tank width22
Enter the tank breadth23
Enter the glass height332
Enter the glass radius23
num_glass 0

# Test 2

In [12]:
# Problem 1: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:
ctc=int(input("enter your annual ct:"))
if ctc<5000000:
    salary=ctc*.82
elif ctc<1000000:
    salary=ctc*.72
elif ctc<2000000:
    salary=ctc*.62
else:
    salary=ctc*.52
print("you in hand monthaly salary will be:-",round(salary/12,2))

enter your annual ct:22
you in hand monthaly salary will be:- 1.5

In [13]:
# Problem 2: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.
first=int(input("Enter the 1st angle:-"))
second=int(input("Enter the 2nd angle:-"))
third=int(input("Enter the 3rd angle:-"))

if (first+second+third)==180 and first>0 and second>0 and third>0:
    print("forms a tringle")
else:
    print("Does not form a tringle")

Enter the 1st angle:-22
Enter the 2nd angle:-212
Enter the 3rd angle:-21
Does not form a tringle

In [14]:
# Problem 3: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.
cost_price=int(input("Enter the cost price:-"))
selling_price=int(input("Enter the selling price:-"))
if cost_price<selling_price:
    print("Profit")
else:
    print("Loss")

Enter the cost price:-122
Enter the selling price:-123
Profit

In [16]:
# # Problem 4: Write a menu-driven program -
# cm to ft
# km to miles
# USD to INR
# exit
menu=(input("""
Hi select option
1. Enter cm to ft
2. km to miles
3. USD to INR
4. Exit
"""))
if menu =='1':
    cm=int(input("Enter cm value:-"))
    print("fit value is:-",0.032*cm)
elif menu =='2':
    km=int(input("Enter km value:-"))
    print("miles value is:-",0.62*km)
elif menu =='3':
    USD=int(input("Enter USD value:-"))
    print("INR value is:-",80*USD)
else:
    print("incorrect option")

Hi select option
1. Enter cm to ft
2. km to miles
3. USD to INR
4. Exit
223
incorrect option

In [17]:
# # Problem 5 - Exercise 12: Display Fibonacci series up to 10 terms.
num1,num2=0,1
for i in range(10):
    print(num1)
    next=num1+num2
    num1=num2
    num2=next

0
1
1
2
3
5
8
13
21
34

In [18]:
# Problem 6 - Find the factorial of a given number.
num=5
fact=1
for i in range(1,5):
    fact=fact*i
print(fact)

24

In [19]:
# Problem 7 - Reverse a given integer number.
num=466 #int(input("Enter number"))
rev=0
while num>0:
    last=num%10
    rev=rev*10+last
    num=num//10
print(rev)

664

In [23]:
# Problem 8: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.
# using for loop
num=int(input("Enter the number:-"))
sum=0
for i in range(1,num+1):
    if i % 5==0:
        continue
    sum+=i
    if sum>300:
        sum-=1
        break
    
print(sum)

# using while loop
num=int(input("Enter the number:-"))
sum=0
i=1
while i<num+1:
    if i % 5==0:
        i+=1
        continue
    sum+=i
    if sum>300:
        sum-=i
        break
    i+=1
    
print(sum)

Enter the number:-4334
302
Enter the number:-567
276

In [24]:
# Problem 9: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.
num=int(input("Enter the number(enter o to stop):-"))
sum=0
avg=0
for i in range(1,num+1):
    if num==0:
        break
    sum+=i
    avg+=1
if avg>0:
    average=sum/avg
else:
    average=0
print(sum)
print(average) 

sum=0
count=0
while True:
    num=int(input("Enter number:-"))
    if num==0:
        break
    sum=sum+num
    count=count+1
print("sum",sum)
print("average",sum/count)

Enter the number(enter o to stop):-45
1035
23.0
Enter number:-54
Enter number:-45
Enter number:-0
sum 99
average 49.5

In [25]:
# Problem 9: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.
# for num in range(20, 32):
#     if num % 7 == 0 and num % 5 != 0:
#         print(num,sep=",")

# Initialize an empty list to store the numbers
result = []

for num in range(20, 32):   
    if num % 7 == 0 and num % 5 != 0:
        result.append(num) 
print(result)

[21, 28]

In [26]:
# Problem 10: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.
L=[]
for i in range(20,30):
    flag =True # line ko change karne ke liye ham flag ka use karte hai
    curr=i
    while curr>0:
        last =curr%10
        if last %2 !=0:
            flag=False
            break
        curr=curr//10
    if flag:
        L.append(str(i))
print(",".join(L))

20,22,24,26,28

In [28]:
# Problem 11: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
#  Initialize the position of the robot
x, y = 0, 0 # initioal value

movements = [("UP", 5), ("RIGHT", 2), ("DOWN", 3), ("LEFT", 3)]

# Move the robot using a for loop
for direction, steps in movements:
    # Update position based on direction
    if direction == 'UP':
        x += steps
    elif direction == 'DOWN':
        x -= steps
    elif direction == 'LEFT':
        y -= steps
    elif direction == 'RIGHT':
        y += steps

# Print final position
print(x,y)
print("Final position of the robot: ({x}, {y})")

2 -1
Final position of the robot: ({x}, {y})

In [29]:
# Problem 12:Write a program to print whether a given number is a prime number or not
num=21
flag=False  
for i in range(2,num):
    if (num%i)==0:
        flag=True
       
        break
if flag:
    print(num, "is not a prime number")
else:
    print(num, "is a prime number")

21 is not a prime number

In [30]:
# Problem 13:Print all the Armstrong numbers in a given range.
num=int(input("Enter number"))
sum=0
temp=num
while temp>0:
    digit=temp%10
    sum+=digit**3
    temp//=10
if num==sum:
    print("it is Armstrong number",num)
else:
    print("it is not Armstrong number",num)

Enter number34
it is not Armstrong number 34

In [32]:
# Problem 14:Calculate the angle between the hour hand and minute hand.
# Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.
def calculate_clock_angle(hour, minute):
    hour_angle = 30 * hour + 0.5 * minute
    minute_angle = 6 * minute
    angle_between = abs(hour_angle - minute_angle)
    if angle_between > 180:
        angle_between = 360 - angle_between

    return angle_between
hour = int(input("Enter the hour (0-11): ")) 
minute = int(input("Enter the minute (0-59): "))
angle = calculate_clock_angle(hour, minute)
print(f"The angle between the hour hand and minute hand is {angle} degrees.")

Enter the hour (0-11): 6
Enter the minute (0-59): 55
The angle between the hour hand and minute hand is 122.5 degrees.

In [33]:
hour = int(input("Enter the hour (0-11): ")) 
minute = int(input("Enter the minute (0-59): "))
def calculate_clock_angle(hour, minute):
    angle_between = abs(30 * hour + 0.5 * minute - 6 * minute)
    if angle_between > 180:
        angle_between = 360 - angle_between
    return angle_between

angle = calculate_clock_angle(hour, minute)
print("degree",angle)

Enter the hour (0-11): 4
Enter the minute (0-59): 7
degree 81.5

# Test 3

In [34]:
# Problem 1 - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.
row= 4 #int(input("Enter number:-"))
for i in range(0,row):
    for j in range(row-i,0,-1):
        print(j,end=" ")
    print()

4 3 2 1
3 2 1
2 1
1

In [35]:
# Problem 2: Print the following pattern.
row= 5 #int(input("Enter number:-"))
for i in range(1,row+1):
    for j in range(0,i):
        print("*",end=" ")
    print()
for i in range(1,row):
    for j in range(row-i,0,-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [36]:
# Problem 3:Write a program to pring the following pattern
rows=3
for i in range(0,rows):
    for j in range(rows -i -1):
        
        print(" ",end="")
    for k in range(2*i + 1):
        print("*",end="")
    print()
    
rows=3
for i in range(1,rows+1):
    print(" "*rows,end="")
    print("* "*i)
    rows=rows-1

  *
 ***
*****
   *
  * *
 * * *

In [37]:
# Problem 4:Write a program to print the following pattern
rows=5
for i in range(1,rows+1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [39]:
# Problem 5: Write a Python Program to Find the Sum of the Series till the nth term:
def calculate_series_sum(x, n):
    series_sum = 0
    for i in range(1, n + 1):    
        term = (x ** i) / i
        series_sum += term
    return series_sum
x = float(input("Enter the value of x: "))
n=int(input("Enter number:-"))

sum_of_series = calculate_series_sum(x, n)
print("Sum of the series:", sum_of_series)

x=2
n=5
sum=1
s=""
print('1+ ',end="")
for i in range(2,n+1):
    sum=sum+x**i/i
    s=s+"x^{}/{}+".format(i,i)
print(s[:-1])
print(sum)

Enter the value of x: 34.6
Enter number:-2
Sum of the series: 633.1800000000001
1+ x^2/2+x^3/3+x^4/4+x^5/5
16.066666666666666

In [40]:
# Problem 6: The natural logarithm can be approximated by the following series.
x=10
n=5
sum=0
s=""

for i in range(1,n+1):
    sum=sum+(1/i)*((x-1)/x)**i
    s=s+"(1/{})*((x-1)/x)**{}+".format(i,i)
print(s[:-1])
print(sum)

(1/1)*((x-1)/x)**1+(1/2)*((x-1)/x)**2+(1/3)*((x-1)/x)**3+(1/4)*((x-1)/x)**4+(1/5)*((x-1)/x)**5
1.8301230000000004

In [41]:
# Problem 7 - Find the sum of the series upto n terms.
# Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate. And the output style should match which is given in the example.
n=2 #int(input("Enter number:-"))
sum=0
start=2
for i in range(0,n):
    if i<n-1:
        print(start,end="+")
    else:
        print(start)
    sum=sum+start
    start=start*10+2
print(sum)

2+22
24

In [42]:
# Problem 8: Write a program to print all the unique combinations of 1,2,3 and 4
for i in range(1,5):
    for j in range(1,5):
        for k in range(1,5):
            for m in range(1,5):
                print(i,j,m,k)

1 1 1 1
1 1 2 1
1 1 3 1
1 1 4 1
1 1 1 2
1 1 2 2
1 1 3 2
1 1 4 2
1 1 1 3
1 1 2 3
1 1 3 3
1 1 4 3
1 1 1 4
1 1 2 4
1 1 3 4
1 1 4 4
1 2 1 1
1 2 2 1
1 2 3 1
1 2 4 1
1 2 1 2
1 2 2 2
1 2 3 2
1 2 4 2
1 2 1 3
1 2 2 3
1 2 3 3
1 2 4 3
1 2 1 4
1 2 2 4
1 2 3 4
1 2 4 4
1 3 1 1
1 3 2 1
1 3 3 1
1 3 4 1
1 3 1 2
1 3 2 2
1 3 3 2
1 3 4 2
1 3 1 3
1 3 2 3
1 3 3 3
1 3 4 3
1 3 1 4
1 3 2 4
1 3 3 4
1 3 4 4
1 4 1 1
1 4 2 1
1 4 3 1
1 4 4 1
1 4 1 2
1 4 2 2
1 4 3 2
1 4 4 2
1 4 1 3
1 4 2 3
1 4 3 3
1 4 4 3
1 4 1 4
1 4 2 4
1 4 3 4
1 4 4 4
2 1 1 1
2 1 2 1
2 1 3 1
2 1 4 1
2 1 1 2
2 1 2 2
2 1 3 2
2 1 4 2
2 1 1 3
2 1 2 3
2 1 3 3
2 1 4 3
2 1 1 4
2 1 2 4
2 1 3 4
2 1 4 4
2 2 1 1
2 2 2 1
2 2 3 1
2 2 4 1
2 2 1 2
2 2 2 2
2 2 3 2
2 2 4 2
2 2 1 3
2 2 2 3
2 2 3 3
2 2 4 3
2 2 1 4
2 2 2 4
2 2 3 4
2 2 4 4
2 3 1 1
2 3 2 1
2 3 3 1
2 3 4 1
2 3 1 2
2 3 2 2
2 3 3 2
2 3 4 2
2 3 1 3
2 3 2 3
2 3 3 3
2 3 4 3
2 3 1 4
2 3 2 4
2 3 3 4
2 3 4 4
2 4 1 1
2 4 2 1
2 4 3 1
2 4 4 1
2 4 1 2
2 4 2 2
2 4 3 2
2 4 4 2
2 4 1 3
2 4 2 3
2 4 3 3
2 4 4 3
2 4 1 4
2 4 2 4
2 4 3 4
2 4 4 4
3 1 1 1
3 1 2 1
3 1 3 1
3 1 4 1
3 1 1 2
3 1 2 2
3 1 3 2
3 1 4 2
3 1 1 3
3 1 2 3
3 1 3 3
3 1 4 3
3 1 1 4
3 1 2 4
3 1 3 4
3 1 4 4
3 2 1 1
3 2 2 1
3 2 3 1
3 2 4 1
3 2 1 2
3 2 2 2
3 2 3 2
3 2 4 2
3 2 1 3
3 2 2 3
3 2 3 3
3 2 4 3
3 2 1 4
3 2 2 4
3 2 3 4
3 2 4 4
3 3 1 1
3 3 2 1
3 3 3 1
3 3 4 1
3 3 1 2
3 3 2 2
3 3 3 2
3 3 4 2
3 3 1 3
3 3 2 3
3 3 3 3
3 3 4 3
3 3 1 4
3 3 2 4
3 3 3 4
3 3 4 4
3 4 1 1
3 4 2 1
3 4 3 1
3 4 4 1
3 4 1 2
3 4 2 2
3 4 3 2
3 4 4 2
3 4 1 3
3 4 2 3
3 4 3 3
3 4 4 3
3 4 1 4
3 4 2 4
3 4 3 4
3 4 4 4
4 1 1 1
4 1 2 1
4 1 3 1
4 1 4 1
4 1 1 2
4 1 2 2
4 1 3 2
4 1 4 2
4 1 1 3
4 1 2 3
4 1 3 3
4 1 4 3
4 1 1 4
4 1 2 4
4 1 3 4
4 1 4 4
4 2 1 1
4 2 2 1
4 2 3 1
4 2 4 1
4 2 1 2
4 2 2 2
4 2 3 2
4 2 4 2
4 2 1 3
4 2 2 3
4 2 3 3
4 2 4 3
4 2 1 4
4 2 2 4
4 2 3 4
4 2 4 4
4 3 1 1
4 3 2 1
4 3 3 1
4 3 4 1
4 3 1 2
4 3 2 2
4 3 3 2
4 3 4 2
4 3 1 3
4 3 2 3
4 3 3 3
4 3 4 3
4 3 1 4
4 3 2 4
4 3 3 4
4 3 4 4
4 4 1 1
4 4 2 1
4 4 3 1
4 4 4 1
4 4 1 2
4 4 2 2
4 4 3 2
4 4 4 2
4 4 1 3
4 4 2 3
4 4 3 3
4 4 4 3
4 4 1 4
4 4 2 4
4 4 3 4
4 4 4 4

In [43]:
# Problem 9: Write a program that will take a decimal number as input and prints out the binary equivalent of the number
n=int(input("Enter number:-"))
binary =[]
while n>0:
    binary.append(n%2)
    n=n//2

for i in binary[::-1]:
    print(i,end="")

Enter number:-45
101101

In [44]:
# Problem 10: Write a program that will take 2 numbers as input and prints the LCM and HCF of those 2 numbers
x=int(input("Enter 1st number:-"))
y=int(input("Enter 2nd number:-"))
if x>y:
    greater=x
else:
    greater=y
while True:
    if(greater%x==0) and (greater%y==0):
        lcm=greater
        break
    greater=greater+1
print(lcm)

Enter 1st number:-54
Enter 2nd number:-67
3618

In [45]:
x=int(input("Enter 1st number:-"))
y=int(input("Enter 2nd number:-"))
if x<y:
    smaller=x
else:
    smaller=y
for i in range(1,smaller+1):
    if (x%i==0) and (y%i==0):
        hcf=i
print(hcf)

Enter 1st number:-44
Enter 2nd number:-66
22

In [46]:
# Problem 11: Create Short Form from initial character
# Given a string create short form ofthe string from Initial character. Short form should be capitalised.
# Data science mentorship program
input="Data science mentorship program"
res=""
for i in input.split():
    res=res + i[0].upper()
print(res)

DSMP

In [47]:
# Problem 13:Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.
s="RajeevRai"
upper=""
lower=""
for i in s:
    if i.islower():
        lower=lower+i
    else:
        upper=upper+i
print(lower+upper)

ajeevaiRR

In [48]:
# Problem 14:Take a alphanumeric string input and print the sum and average of the digits that appear in the string, ignoring all other characters
s="hasidh2ka82"
sum=0
count=0
for i in s:
    if i.isdigit():
        sum=sum+int(i)
        count+=1
print(sum)
print(sum/count)

12
4.0

In [49]:
# Problem 15: Removal of all characters from a string except integers
str1 = 'I am 25 years and 10 months old'
res=''
for i in str1:
    if i.isdigit():
        res+=i
print(res)

2510

In [50]:
# Problem 16: Check whether the string is Symmetrical.
# Statement: Given a string. the task is to check if the string is symmetrical or not. A string is said to be symmetrical if both the halves of the string are the same.
s="kho"
if len(s)%2==0:
    s1=s[0:len(s)//2]
    s2=s[len(s)//2:]
else:
    s1=s[0:len(s)//2]
    s2=s[len(s)//2+1:]
if s1==s2:
    print("Symmetrical")
else:
    print("not Symmetrical")

not Symmetrical

In [51]:
# Problem 17: Reverse words in a given String
s="how are you rajeev"
L=[]
for i in s.split():
    L.append(i)
L=L[::-1]
print(" ".join(L))

rajeev you are how

In [52]:
# Problem 18: Find uncommon words from two Strings.
A = "apple banana mango" 
B = "banana fruits mango"
L=[]
for i in A.split():
    if i not in B and i not in L:
        
        L.append(i)
for i in B.split():
    if i not in A and i not in L:
        
        L.append(i)
print(L)

['apple', 'fruits']

# Problem 19: Word location in String.
S= "We can learn data science through campusx mentorship program"
w="campusx"
pos=0
for i in S.split():
    if i ==w:
        pos+=1
        break
    pos+=1
print(pos)

In [53]:
# Problem 20: Write a program that can remove all the duplicate characters from a string. User will provide the input.

s="ssssfefgftdvgfg"
res=''
for i in s:
    if i not in res:
        res=res+i
print(res)

sfegtdv

# Test 4

In [54]:
# Problem 1: Combine two lists index-wise(columns wise)
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
print(zip(list1,list2))
[[i,j] for (i,j) in zip(list1,list2)]

<zip object at 0x000001D6C82D6140>

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

In [57]:
# Problem 2: Add new item to list after a specified item
l = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
l[2][2].append(7000)
l

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [58]:
# Problem 3: Update no of items available
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
for (i,j) in zip(candy_list,no_of_items):
    
    print(i,"-",j)

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

In [59]:
# Problem 4: Running Sum on list
# Write a program to print a list after performing running sum on it.
l = [1,2,3,4,5,6]
sum=0
r=[]
for i in l:
    sum=sum+i
    r.append(sum)
print(r)

[1, 3, 6, 10, 15, 21]

In [60]:
# Problem 5: You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.
l=[2,4,6,10,1]

r=[]
for i in l:
    sum=0
    for j in l:
        if i<=j:
            sum=sum+j
        
    r.append(sum)
print(r)

[22, 20, 16, 10, 23]

In [61]:
# Problem 6: Find list of common unique items from two list. and show in increasing order
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
common=[]
for i in num1:
    if i not in common:
        if i in num2:
            common.append(i)
print(common)

[67, 89, 34]

In [62]:
# Problem 7: Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.
a=['1ac21', '23fg', '456', '098d','1','kls']
r=[]
for i in a:
    p=1
    for char in i:
        if char.isdigit():
            p=p*int(char)
    r.append(p)
[i[1] for i in sorted(list(zip(r,l)),reverse=True)]

[6, 4, 2, 1, 10]

In [63]:
# Problem 8: Split String of list on K character.
a=['CampusX is a channel', 'for data-science', 'aspirants.']
inp=' '
result=[]
for i in a:
    result.extend(i.split(inp))
print(result)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

In [64]:
# Problem 9: Convert Character Matrix to single String using string comprehension.

L = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
print(" ".join(["".join(i) for i in L]))
(["".join(i) for i in L])

campux is best channel

['campux', 'is', 'best', 'channel']

In [65]:
# Problem 10: Add Space between Potential Words.
test_list= ['campusxIs', 'bestFor', 'dataScientist']
res=[]
for i in test_list:
    temp=[[]]
    for char in i:
        if char.isupper():
            temp.append([])
        temp[-1].append(char)
    temp_string =" "
    for item in temp:
        temp_string = temp_string + "".join(item) + " "
    res.append(temp_string[0:-1])
print(res)

[' campusx Is', ' best For', ' data Scientist']

In [66]:
# Problem 11: Write a program that can perform union operation on 2 lists
L1=[1,2,3,4,5,1]
L2=[2,3,5,7,8]
union=[]
for i in L1:
    if i not in union:
        union.append(i)
for j in L2:
    if j not in union:
        union.append(j)
print(union)

[1, 2, 3, 4, 5, 7, 8]

In [67]:
# Problem 12: Write a program that can find the max number of each row of a matrix
L=[[1,2,3],[4,5,6],[7,8,9]]
L1=[]
for i in L:
    L1.append(max(i))
print(L1)

[3, 6, 9]

In [68]:
# Problem 13: Write a list comprehension to print the following matrix
[[0, 1, 2], [3, 4, 5], [6, 7, 8]]
[[j + 3*i for j in range(0,3)] for i in range(0,4)]

[[0, 1, 2], [3, 4, 5], [6, 7, 8], [9, 10, 11]]

In [69]:
# Problem 14: Write a list comprehension that can transpose a given matrix
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

[[row[i] for row in matrix]for i in range(len(matrix))]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [70]:
# Problem 15: Write a list comprehension that can flatten a nested list

matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]
# for row in matrix:
#     for item in row:
#         print(item,end=" ")
[item for row in matrix for item in row]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Task 5

In [71]:
# Q 1: Join Tuples if similar initial element
# While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 
unique=[]
for i in test_list:
    unique.append(i[0])
unique=set(unique)
result=[]
for i in unique:
    result.append([i])
    for j in test_list:
        if j[0]==i:
            result[-1].append(j[1])
print(list(map(tuple,result)))

[(5, 6, 7, 8), (6, 10), (7, 13)]

In [72]:
# Q2: Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.
t=(1, 5, 7, 8, 10)
L=[]
L.append(t[0]*t[1])
for i in range(1,len(t)-1):
    L.append(t[i]*t[i-1]+t[i]*t[i+1])
L.append(t[-1]*t[-2])
print(L)

[5, 40, 91, 136, 80]

In [73]:
# Q3: Check is tuples are same or not?
# Two tuples would be same if both tuples have same element at same index
t1 = (1,2,3,0)
t2 = (1,2,3,0)
flag=True
for i,j in zip(t1,t2):
    if i==j:
        continue
    else:
        flag=False
        break
if flag:
    print("same")
else:
    print("not same")

same

In [74]:
# Q4: Count no of tuples, list and set from a list
L = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
output=[0,0,0]
for i in L:
    if type(i)==list:
        output[0] =output[0] + 1
    elif type(i)==tuple:
        output[0] =output[1] + 1
    elif type(i) ==set:
        output[2]==output[2]+1
    else:
        pass
print('list')

list

In [75]:
# student = []
# num = int(input("Enter the number of applicants: "))
# for i in range(num):
#     print("Enter details of", i + 1, "applicant:")
#     name = input("Enter name: ")
#     skill = input("Enter primary skill: ")
#     education = input("Enter higher education: ")
#     yog = input("Enter year of graduation: ")
    
#     student.append((name,skill,education,yog))
    
# required_skill=input("enter required skill:-")
# required_education=input("Enter higher education:- ")
# required_yog=input("Enter year of graduation:-")

# flag=False
# for i in student:
#     if i[1] ==required_skill and i[2] ==required_H_E and i[3] ==required_yog:
#         print(i)
#         flag=True
# if flag==False:
#     print("no such candidates:-")

# Set

In [76]:
# Q1: Write a program to find set of common elements in three lists using sets.
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
s1=set(ar1)
s2=set(ar2)
s3=set(ar3)

result=list((s1 & s2) & s3)
print(result)

[80, 20]

In [77]:
# Q2: Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.
vowel=set("aeiouAEIOU")
s=set("hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX")
print('NO OF UNIQUE vowel:-',len(s & vowel))

NO OF UNIQUE vowel:- 6

In [78]:
# Q3: Write a program to Check if a given string is binary string of or not.
# s="010101010101"
s="TF"
if len(set(s))==2:
    print('binary')
else:
    print('not binary')

binary

In [79]:
# Q4: find union of n arrays.
L = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
s=set()
for i in L:
    s.update(i)
print(s)

{1, 2, 3, 4, 5, 6, 7, 9}

In [80]:
# Q5: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using list-comprehension.
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
[item for item in lst1 if item in lst2]

[4, 5, 9, 10]

# Dictionary

In [81]:
# Q1: Key with maximum unique values
# Given a dictionary with values list, extract key whose value has most unique values.
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
max_val=0
max_key=''
for i in test_dict:
    if max_val < len(set(test_dict[i])):
        max_val = len(set(test_dict[i]))
        max_key=i
print(max_key)

Best

In [82]:
# Q2: Replace words from Dictionary. Given String, replace its words from lookup dictionary.
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
res=[]
for i in test_str.split():
    if i in repl_dict:
        res.append(repl_dict[i])
    else:
        res.append(i)
print(" ".join(res))

CampusX is the best channel for Data-Science students.

In [83]:
r="Rajeev is boy"
p={"is":"is going to market","boy":"with small brother"}
res=[]
for i in r.split():
    if i in p:
        res.append(p[i])
    else:
        res.append(i)
print(" ".join(res))

Rajeev is going to market with small brother

In [84]:
# Q3: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.
test_list = ["DataScience", 3, 22, "is", 8,23]
key_list = ["name", "id","Age"]
n=len(test_list)
res=[]
for i in range(0,n,3):
    res.append({key_list[0]:test_list[i],key_list[1]:test_list[i+1],key_list[2]:test_list[i+2]})
print(res)

[{'name': 'DataScience', 'id': 3, 'Age': 22}, {'name': 'is', 'id': 8, 'Age': 23}]

In [85]:
# Q4: Convert a list of Tuples into Dictionary.
L1 = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
# L = [('A', 1), ('B', 2), ('C', 3)]
d={}
for i,j in L1:
    d[i]=[j]
print(d)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

In [86]:
# Q5: Sort Dictionary key and values List.
d = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
res={}
for i in sorted(d):
    
      res[i] = sorted(d[i])
print(res)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}